<ion-menu class="ion-menu" [content]="content" type="overlay" >


  <ion-header no-border>
    <ion-toolbar color="toolbar">
      <ion-title>Books</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div class="sideMenu">
      <div class="left">
          <div class="menuHeader">
              <div onclick="hideSideMenu();" class="items">
                  <i class="material-icons">&#xE5CD;</i>
              </div>
          </div>
          <!--                    <div v-on:click="setSideMenu('home');goTo('home')" class="items">
                                  <div v-bind:style="sideMenu == 'home' ? {color: '#00afd1'} : {color: '#fff'}" class="icon"><i class="material-icons">home</i></div>
                                  <div v-bind:style="sideMenu == 'home' ? {color: '#00afd1'} : {color: '#fff'}" class="iconTxt">Home</div>
                              </div>-->
          <div v-on:click="setSideMenu('books')" class="items">
              <div v-bind:style="sideMenu == 'books' ? {color: '#00afd1'} : {color: '#fff'}" class="icon"><i class="material-icons">&#xE0E0;</i></div>
              <div v-bind:style="sideMenu == 'books' ? {color: '#00afd1'} : {color: '#fff'}" class="iconTxt">Books</div>
          </div>
          <div v-on:click="setSideMenu('font')" class="items">
              <div v-bind:style="sideMenu == 'font' ? {color: '#00afd1'} : {color: '#fff'}" class="icon"><i class="material-icons">&#xE262;</i></div>
              <div v-bind:style="sideMenu == 'font' ? {color: '#00afd1'} : {color: '#fff'}" class="iconTxt">Font</div>
          </div>

          <!--                    <div v-on:click="setSideMenu('lang')" class="items">
                                  <div v-bind:style="sideMenu == 'lang' ? {color: '#00afd1'} : {color: '#fff'}" class="icon"><i class="material-icons">&#xE894;</i></div>
                                  <div v-bind:style="sideMenu == 'lang' ? {color: '#00afd1'} : {color: '#fff'}" class="iconTxt">Language</div>
                              </div>-->

      </div>
      <div class="right">
          <ul >
              <li *ngFor="let p of pages">
                  <img [src]="p.coverLink" />
              </li>
          </ul>
          <ul v-if="sideMenu == 'font'">

              <li>
                  <span v-bind:style="fontType.fontFamily == 'Anton' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontType('Anton')" class="fontAnton">Anton</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontFamily == 'Courgette' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontType('Courgette')" class="fontCourgette">Courgette</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontFamily == 'Lato' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontType('Lato')" class="fontLato">Lato</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontFamily == 'Kalam' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontType('Kalam')" class="fontKalam">Kalam</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontFamily == 'Nunito' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontType('Nunito')" class="fontVerdana">Nunito</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontFamily == 'Open Sans' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontType('Open Sans')" class="fontOpenSans">Open Sans</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontFamily == 'Raleway' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontType('Raleway')" class="fontRaleway">Raleway</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontFamily == 'Roboto' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontType('Roboto')" class="fontRoboto">Roboto</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontFamily == 'Ubuntu' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontType('Ubuntu')" class="fontRoboto">Ubuntu</span>
              </li>                        
              <li>
                  &nbsp;
              </li>
              <li>
                  <span v-bind:style="fontType.fontSize == '12px' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontSize('12px')" class="smallFont">Small</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontSize == '14px' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontSize('14px')" class="mediumFont">Medium</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontSize == '16px' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontSize('16px')" class="largeFont">Large</span>
              </li>
              <li>
                  <span v-bind:style="fontType.fontSize == '18px' ? {color: '#00afd1'} : {color: '#fff'}" v-on:click="setFontSize('18px')" class="xLargeFont">X-Large</span>
              </li>
          </ul>
          <ul v-if="sideMenu == 'lang'">
              <li v-on:click="setLanguage('pap')">
                  <span v-bind:style="currentLanguage == 'pap' ? {color: '#00afd1'} : {color: '#fff'}" style="font-size: 13px;" >Papiamentu</span>
              </li>
              <li v-on:click="setLanguage('nl')">
                  <span v-bind:style="currentLanguage == 'nl' ? {color: '#00afd1'} : {color: '#fff'}" style="font-size: 13px;" >Nederlands</span>
              </li>
              <li v-on:click="setFLanguage('sp')">
                  <span v-bind:style="currentLanguage == 'sp' ? {color: '#00afd1'} : {color: '#fff'}" style="font-size: 13px;" >Espa&ntilde;ol</span>
              </li>
          </ul>
      </div>
  </div>

    <!-- <ion-row class="custom">
      <ion-col>
          <div class="menuHeader">
              <div  class="items">
                  <i class="material-icons">&#xE5CD;</i>
              </div>
          </div>


      </ion-col>
      <ion-col> <ion-list>
        <ion-item no-lines *ngFor="let p of pages" (click)="openPage(p) ">
          <img [src]="p.coverLink">
        </ion-item>
      </ion-list></ion-col>
    </ion-row> -->
   

    <!-- <button (click)="addBook()">
     ADD
      </button>  -->
    <!-- <img  *ngif ="p.coverLink"[src]="p.coverLink"> -->
    <!-- <ion-img *ngif ="p.coverLink"[src]="p.coverLink"></ion-img> -->

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>