<!--
  Generated template for the BooksdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="toolbar">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Book Details</ion-title>
  </ion-navbar>


</ion-header>

<ion-content>

  <!-- // When click to entry book  -->
  <div id="bookPage" *ngIf="!readbook">
    <div class="bookPageHeader">
      <div class="cover"><img [src]="selectedBook.coverLink" /></div>
      <div class="amount" *ngIf="selectedBook.amount == 'free' ">FREE</div>

      <div class="amount" *ngIf="!readbook && logged && !bpurchased">${{selectedBook.amount}}</div>
      <div class="amount" *ngIf="!logged && selectedBook.amount !== 'free' ">${{selectedBook.amount}}</div>
      <div class="amount" *ngIf="bpurchased">PURCHASED</div>


      <div class="title">{{selectedBook.title}}</div>
      <div class="author">{{selectedBook.author}}</div>
    </div>
    <div style="padding-bottom: 100px;" class="bookPageMain">
      <div v-html="currentBook.Preface">&nbsp;</div>
      <div>&nbsp;</div>
      <div><b>Outor</b></div>
      <div>{{selectedBook.author}}</div>
      <div>&nbsp;</div>
      <div><b>Editor</b></div>
      <div>{{selectedBook.editor}}</div>
      <div>&nbsp;</div>
      <div><b>Team di e proyecto</b></div>
      <div>Sugeidy Windster, Sergio C. Bakmeijer, Sueena Francisco, Diana Lebacs, Eunice
        Cijntje, Sulin Passial, Fereal Hortencia, Syonara Maria, Derek Colina</div>
      <div>&nbsp;</div>
      <div><b>Illustrashon</b></div>
      <div>{{selectedBook.illustrator}}</div>
      <div>&nbsp;</div>
      <div><b>Produkshon Digital</b></div>
      <div>{{selectedBook.digitalProduction}}</div>
      <div>&nbsp;</div>
      <div><b>Imprenta</b></div>
      <div>{{selectedBook.imprenta}}</div>
      <div>&nbsp;</div>
      <div><b>Derechi di Imprenta</b></div>
      <div>JCI IOBA Curaçao</div>
    </div>



  </div>
  <!-- 
        // When read is selected -->

  <ion-row *ngIf="readbook" class="BookReading">
    <ion-col col-12 col-sm class="coverCollumn"> <img [src]="currentBookCurrentPageData.url" /></ion-col>
    <ion-col col-12 col-sm class="textCollumn">
      <div [style.font-family]="fontset" [style.font-size]="fontsize" [innerHTML]="currentBookCurrentPageData.text">&nbsp;</div>
    </ion-col>
  </ion-row>



</ion-content>
<ion-footer>

  <!-- //If book is free -->
  <div *ngIf="selectedBook.amount == 'free'" style="bottom: 0; position: fixed;" class="footerBtn footerButton">
    <div (click)="readBook()" class="btn">Read Book</div>
  </div>

  <div *ngIf="!readbook && logged && bpurchased" style="bottom: 0; position: fixed;" class="footerBtn footerButton">
    <div (click)="readBook()" class="btn">Read Book</div>
  </div>

  <div *ngIf="!readbook && logged && !bpurchased" style="bottom: 0; position: fixed;" class="footerBtn footerButton">
    <div class="btn" (click)="payWithPaypal()">Buy Book </div>
  </div>

  <div *ngIf="!logged" style="bottom: 0; position: fixed;" class="footerBtn footerButton">
    <div (click)="goToLogin()" class="btn">Login to Read Book</div>
  </div>


  <div *ngIf="readbook" class="footerBtn footerPageNavigation">
    <div *ngIf="currentBookCurrentPageData.page > 1" (click)="previousPage()" class="btn-left">
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <div *ngIf="currentBookCurrentPageData.page != totalpages -1" (click)="nextPage()" class="btn-right">
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
  </div>

</ion-footer>